[twitter_bot]
trigger = !
nickname = NICKNAME
password = PASSWORD
owner = OWNER_NICK

irc_server = IRC_SERVER_ADDRESS
irc_server_port = IRC_SERVER_PORT
twitter_account = TWITTER_ACCOUNT
channels = CHANNEL1, CHANNEL2, CHANNEL3